
.product-details-div{
    padding: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
img{
    width: 200px;
}
.product-name{
    font-weight: 550;
    color: rgb(74, 73, 73);
}
.product-price{
    font-weight: 600;
}
.product-description{
    line-height: 1.5;
}

/* .cart-button{
    width: 150px;
    padding: 6px 4px;
    background-color: #ff9f00;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    color: #ffff;
    font-weight: 600;
    text-align: center;
    border: none;
} */