* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}
.main-content{
    padding: 5%;
}
.navbar-mystyles{
    display: flex;
    background-color: #2874f0;
    font-weight: 550;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 70px;
}
.a-title{
    color: #fff;
    padding-left: 40px;
    font-size: 18px;
    text-decoration: none;
}
.a-title:hover{
    color: #ff9f00;
}

.a-search:hover{
    color: rgb(5, 44, 107);
    background-color: rgb(243, 186, 94);
}

.main-page{
    display: grid;
    grid-template-columns: 10% 80%;
    text-align: left;
    width: 100%;
}
.cart-button{
    width: 150px;
    padding: 6px 4px;
    background-color: #f2a933;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    
    color: #ffff;
    font-weight: 600;
    text-align: center;
    border: none;
    transition: all 0.5s;
}
.cart-button:hover{
    background-color: #ff9f00;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}
