
.search-input{
    width: 300px;
}
.search-input::placeholder{
    color: #2874f0;
}
/* .search-div{
    padding-top: 15px;
} */
.input-group{
    column-gap: 3px;
}
.b-search{
    color: #2874f0;
    background-color: #fff;
}
button:focus{
    color: #fff;
    background-color: #fac164;
}