.shop-cart{
    padding: 30px;
    display: flex;
    column-gap: 3px;
}
.cart-icon-link{
    text-decoration: none;
    cursor: pointer;
}
.fa-shopping-cart{
    color: #fff;
}
p{
    color: #fff;
    margin: 0;
    background-color: #ff9f00;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

i{
    color: #fff;
}